#main-content, html, body { 
	height: 100%; 
}

#map {
	height: 50%;
}

#playlist span{
	color: red;
	background-color: lightgray;
}

form > * , button{
	margin: 5px;
}

#lengths {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}